<%= form_for(@api_v2_post) do |f| %>
  <% if @api_v2_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@api_v2_post.errors.count, "error") %> prohibited this api_v2_post from being saved:</h2>

      <ul>
      <% @api_v2_post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
