<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @api_v1_post.status %>
</p>

<p>
  <strong>Content:</strong>
  <%= @api_v1_post.content %>
</p>

<%= link_to 'Edit', edit_api_v1_post_path(@api_v1_post) %> |
<%= link_to 'Back', api_v1_posts_path %>
